* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


.wrap{
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px
}

@import url('./header.css');

@import url('./card.css');